.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.calculatorContainer {
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    width: 15rem;
    height: 25rem;
    background: gray;
    box-shadow: 5px 5px black;
}


.calcDisplay {
    background: #f5f5f5;
    width: 12.5rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 2px 2px black
}

.displayShow{ 
    font-size: 1.8rem;
    margin-top: 0.5rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
}

.buttn {
    height: 2.5rem;
    width: 3rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px black ;
}



.button_bigger {
    height: 2.5rem;
    width: 6rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.75rem;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px black
}

.button_Number {
    background-color: rgb(169, 169, 169);
    color: white;
}

.button_Number:focus {
    background-color: rgb(109, 109, 109);
    box-shadow: none;
    /* border: 2px solid black; */
}

.button_Tool {
    background-color: rgb(252, 164, 2);
}

.button_Tool:focus {
    box-shadow: none;
    background-color: rgb(192, 104, 2);
}

.button_Clear {
    background-color: rgb(255, 0, 0);
}

.button_Clear:focus {
    background-color: rgb(195, 0, 0);
    box-shadow: none;
}

.button_Back, .button_point, .button_toMinus{
    background-color: rgb(255, 69, 0);
}

.button_Back:focus, .button_point:focus, .button_toMinus:focus {
    background-color: rgb(195, 69, 0);
    box-shadow: none;
}

.button_toMinus {
    font-size: 0.55rem;
}