.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.calculatorContainer {
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    width: 15rem;
    height: 25rem;
    background: gray;
}


.calcDisplay {
    background: #f5f5f5;
    width: 12.5rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.displayShow{ 
    font-size: 1.8rem;
    margin-top: 0.5rem;
    padding-right: 0.3rem;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
}

.button {
    height: 2.5rem;
    width: 3rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}

.button_bigger {
    height: 2.5rem;
    width: 6rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.75rem;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}

.button_Number {
    background-color: darkgray;
    color: white;
}

.button_Tool {
    background-color: orange;
}

.button_Clear {
    background-color: red;
}

.button_Back, .button_point, .button_Plus-minus {
    background-color: orangered;
}